{%- set indent = indent | default(2) -%}

{%- for prefix, uri in prefixes.items() -%}
PREFIX {{ prefix }}: <{{ uri }}>
{% endfor %}

{% macro select(class) -%}
{%- filter indent(indent, true) -%}

{{- '?' ~ class.binding_vars[-1] -}}
  {%- for name, child in class.fields.items() %}
{{ select(child) -}}
  {% endfor -%}

{%- endfilter -%}
{%- endmacro -%}


{%- macro apply_prefixes(path) -%}
  {%- if path.inverted -%}^{%- endif -%}

  {%- set ns = namespace(full_uri=True) -%}

  {%- for prefix, uri in prefixes.items() if path.entity.startswith(uri) -%}
    {%- set ns.full_uri = False -%}
    {{- path.entity | replace(uri, prefix ~ ":") -}}
  {%- endfor -%}

  {%- if ns.full_uri -%}
    <{{- path.entity -}}>
  {%- endif -%}

{%- endmacro -%}

{%- macro where(class) -%}
  {%- filter indent(indent, true) -%}
    {%- for path in class.path_array -%}
      {%- if path is not none -%}
        {%- if loop.index0 is even -%}
          ?{{- class.binding_vars[loop.index0 // 2] }} a {{ apply_prefixes(path) ~ ' .\n' }}
        {%- else -%}
          ?{{- class.binding_vars[loop.index0 // 2] }} {{ apply_prefixes(path) }} ?{{ class.binding_vars[loop.index0 // 2 + 1] ~ ' .\n' }}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- for name, child in class.fields.items() -%}
      {%- if child.count -%}
        { SELECT (COUNT(?{{ child.binding_vars[-1]}}) AS ?{{ child.binding_vars[-1] }}) ?{{ class.binding_vars[-1] }} WHERE {
        {%- filter indent(indent, true) -%}
        {{- '\n' -}}
        {{- where(child) -}}
        {%- endfilter -%}
        } GROUP BY ?{{ class.binding_vars[-1] }}
        {{- ' }\n' -}}
      {%- else -%}
        {%- if root.everything_optional or child.cardinality == -1 -%}
          {{- '\nOPTIONAL {\n' -}}
        {%- endif -%}
        {{- where(child) -}}
        {%- if root.everything_optional or child.cardinality == -1 -%}
          {{- '}\n' -}}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfilter -%}
{%- endmacro -%}



SELECT
{{ select(root) }}

WHERE {

{{ where(root) }}
}
