{%- set indent = indent | default(2) -%}

{%- for prefix, uri in prefixes.items() -%}
PREFIX {{ prefix }}: <{{ uri }}>
{% endfor %}

{% macro select(class) -%}
{%- filter indent(indent, true) -%}

{{- '?' ~ class.binding_vars[-1] -}}
  {%- for name, child in class.fields.items() %}
    {{- '\n' ~ select(child) -}}
  {% endfor -%}

{%- endfilter -%}
{%- endmacro -%}


{%- macro apply_prefixes(path) -%}
  {%- if path.inverted -%}^{%- endif -%}

  {%- set ns = namespace(full_uri=True) -%}

  {%- for prefix, uri in prefixes.items() if path.entity.startswith(uri) -%}
    {%- set ns.full_uri = False -%}
    {{- path.entity | replace(uri, prefix ~ ":") -}}
  {%- endfor -%}

  {%- if ns.full_uri -%}
    <{{- path.entity -}}>
  {%- endif -%}

{%- endmacro -%}

{%- macro path_query(path_array, binding_vars) -%}{# chop off two elements #}
  {%- if path_array | first is not none -%}
    ?{{- binding_vars[0] }} a {{ apply_prefixes(path_array[0]) }}
  {%- endif -%}
  {%- if path_array | length > 1 and path_array[1] is not none -%}
    {%- if path_array | first is not none -%}
      {{- ';\n' ~ (' ' * (binding_vars[0] | length + 4)) ~ apply_prefixes(path_array[1]) }} ?{{ binding_vars[1] }}
    {%- else -%}
      ?{{- binding_vars[0] }} {{ apply_prefixes(path_array[1]) }} ?{{ binding_vars[1] }}
    {%- endif -%}
  {%- endif -%}
  {%- if path_array | first is not none or path_array[1] is not none -%}
    {{- ' .\n' -}}
  {%- endif -%}
  {%- if path_array | length > 2 -%}
    {{- path_query(path_array[2:], binding_vars[1:]) -}}
  {%- endif -%}
{%- endmacro -%}

{%- macro where(class) -%}
  {%- filter indent(indent, true) -%}
    {{- path_query(class.path_array, class.binding_vars ) ~ '\n' -}}
    {%- for name, child in class.fields.items() -%}
      {%- if child.count -%}
        OPTIONAL { SELECT (COUNT({%- if child.distinct -%}DISTINCT {% endif -%}?{{ child.binding_vars[-1]}}) AS ?{{ child.binding_vars[-1] }}_count) ?{{ class.binding_vars[-1] }} WHERE {
        {%- filter indent(indent, true) -%}
        {{- '\n' -}}
        {{- where(child) -}}
        {%- endfilter -%}
        } GROUP BY ?{{ class.binding_vars[-1] }}
        {{- ' }\n' -}}
        BIND (COALESCE(?{{ child.binding_vars[-1] }}_count, 0) AS ?{{ child.binding_vars[-1] }})
        {{- '\n\n' -}}
      {%- else -%}
        {%- if root.everything_optional or child.cardinality == -1 -%}
          {{- '\nOPTIONAL {\n' -}}
        {%- endif -%}
        {{- where(child) -}}
        {%- if root.everything_optional or child.cardinality == -1 -%}
          {{- '}\n' -}}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfilter -%}
{%- endmacro -%}



SELECT
{{ select(root) }}

WHERE {

{{ where(root) }}
}
